{% extends 'Core_App/Core_Base_Template.html' %}

<!-- loading something -->
{% load crispy_forms_tags %} {% load static %}

<!-- Title -->
{% block title %}
<title>Create New Slice - 1Link</title>
{% endblock title %}

<!-- Base_Content -->
{% block Core_Content %}

<div class="container mb-5 mt-3">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb fs-4">
			<li class="breadcrumb-item">
				<a href="{% url 'Slices_App:Slices-List-Page' %}">slices</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">new</li>
		</ol>
	</nav>

	<div class="content-section">
		{{ form.non_field_errors}}
		<form method="post" novalidate>
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Create New Slice</legend>
				{{ form|crispy }}
				<div class="mt-3">
					<input
						type="submit"
						value="Create"
						class="btn btn-success"
						name="create_new_slice"
					/>
					&nbsp;
					<input
						type="submit"
						value="Create and add another"
						class="btn btn-success"
						name="create_and_add_another_new_slice"
					/>
				</div>
			</fieldset>
		</form>
	</div>
</div>

{% endblock Core_Content %}
