# pycache and vscode setting ( Always )
__pycache__
.vscode

# foo files
foo.*
bar.*
foobar.*

# all json files
*.json

# add you EMAIL_HOST_USER, EMAIL_HOST_PASSWORD
# in this file in the root folder ... for more detail see the setting.py ...ending file content
email_host_details.py
