{% extends 'Core_App/Base_Template.html' %} {% block Base_Content %}

<!-- navbar -->
{% include 'Core_App/navbar.html' %}

<!-- Message container -->
{% if messages %}
<div class="container">
	{% for message in messages %}

	<div
		class="alert alert-{{ message.tags }} alert-dismissible fade show mt-3"
		role="alert"
	>
		{{ message|safe }}
		<div style="">
			<button
				type="button"
				class="btn-close"
				data-bs-dismiss="alert"
				aria-label="Close"
			></button>
		</div>
	</div>

	{% endfor %}
</div>

{% endif %}

<!-- Core_Content -->
{% block Core_Content %}{% endblock Core_Content %} {% endblock Base_Content %}
