{% extends 'Core_App/Base_Template.html' %} {% block Base_Content %}

<!-- navbar -->
{% include 'Core_App/navbar.html' %}

<div class="container">
	<h1>This is the home page ... inside</h1>

	<p style="text-align: justify">
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem dolor
		inventore sed laudantium voluptate saepe aliquam reprehenderit cumque
		asperiores perspiciatis molestias, maxime, consequuntur fugiat sit esse
		corporis adipisci aspernatur accusantium. Lorem ipsum dolor sit amet
		consectetur adipisicing elit. Autem dolor inventore sed laudantium
		voluptate saepe aliquam reprehenderit cumque asperiores perspiciatis
		molestias, maxime, consequuntur fugiat sit esse corporis adipisci
		aspernatur accusantium. Lorem ipsum dolor sit amet consectetur
		adipisicing elit. Autem dolor inventore sed laudantium voluptate saepe
		aliquam reprehenderit cumque asperiores perspiciatis molestias, maxime,
		consequuntur fugiat sit esse corporis adipisci aspernatur accusantium.
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem dolor
		inventore sed laudantium voluptate saepe aliquam reprehenderit cumque
		asperiores perspiciatis molestias, maxime, consequuntur fugiat sit esse
		corporis adipisci aspernatur accusantium. Lorem ipsum dolor sit amet
		consectetur adipisicing elit. Autem dolor inventore sed laudantium
		voluptate saepe aliquam reprehenderit cumque asperiores perspiciatis
		molestias, maxime, consequuntur fugiat sit esse corporis adipisci
		aspernatur accusantium. Lorem ipsum dolor sit amet consectetur
		adipisicing elit. Autem dolor inventore sed laudantium voluptate saepe
		aliquam reprehenderit cumque asperiores perspiciatis molestias, maxime,
		consequuntur fugiat sit esse corporis adipisci aspernatur accusantium.
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem dolor
		inventore sed laudantium voluptate saepe aliquam reprehenderit cumque
		asperiores perspiciatis molestias, maxime, consequuntur fugiat sit esse
		corporis adipisci aspernatur accusantium. Lorem ipsum dolor sit amet
		consectetur adipisicing elit. Earum error atque tempore esse beatae.
		Corporis voluptates totam tempora ut aliquid mollitia magni explicabo
		necessitatibus, in vel placeat? A, consequuntur dolor? Rerum vel, veniam
		alias nisi ratione tempore a ducimus ut obcaecati dolor. Nihil nesciunt
		explicabo, earum quasi suscipit similique iste rem ad corrupti sit
		aspernatur doloremque. Temporibus earum rerum eos? Dolor corrupti modi
		magni pariatur velit debitis itaque id deleniti reiciendis eaque
		excepturi ipsum, cumque consequatur quasi nihil tenetur iste fugit!
		Dolor corporis consectetur debitis cumque error deserunt velit facilis.
		Consequuntur doloremque laudantium ab placeat architecto cumque corrupti
		aliquid provident dolorem, sapiente alias nulla nesciunt minima
		laboriosam porro, voluptatibus laborum? Nulla, deleniti possimus aliquid
		molestiae impedit debitis? Iste, et error! Numquam minus ex voluptatem
		fugiat. Maiores sunt fugiat, sint eveniet numquam eum laudantium. Natus
		quisquam numquam pariatur dolor unde explicabo ad voluptatem debitis,
		consequatur, enim officia sed tempore vel quia! Illo quibusdam vero
		accusamus architecto voluptas odit nesciunt magnam, officia cupiditate
		impedit mollitia atque illum, natus quasi dolores quod laboriosam fugiat
		neque soluta et. Unde, tempore! Deserunt iusto voluptatum excepturi.
		Reprehenderit laborum ea nemo nostrum repudiandae doloribus cumque
		voluptatem modi et quasi laboriosam harum nesciunt consequuntur illum
		laudantium odio commodi sequi sit, minus suscipit dolorem sint nisi?
		Atque, ut reiciendis. Iste laboriosam laudantium corporis reprehenderit,
		sit quidem voluptatum eveniet culpa quaerat, repellendus, unde obcaecati
		eius. Ex quibusdam optio mollitia aut corporis, sed commodi omnis
		aliquid. Nostrum nobis molestiae praesentium eum. Laboriosam facere
		exercitationem asperiores ut repellendus esse, officiis soluta unde
		harum aperiam, vel sed beatae numquam. Non harum itaque quis ea
		doloremque asperiores aliquam, perspiciatis quibusdam eos suscipit id
		ducimus! Odit, minus similique repudiandae nostrum consectetur
		voluptatum. Aut aperiam, molestiae laboriosam numquam eveniet
		praesentium velit excepturi. Similique vitae architecto facere
		voluptatibus nesciunt, voluptates laboriosam minima recusandae est optio
		in tempora. Labore voluptate quibusdam laboriosam cum, corporis adipisci
		aspernatur accusantium. Lorem ipsum dolor sit amet consectetur
		adipisicing elit. Autem dolor inventore sed laudantium voluptate saepe
		aliquam reprehenderit cumque asperiores perspiciatis molestias, maxime,
		consequuntur fugiat sit esse corporis adipisci aspernatur accusantium.
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem dolor
		inventore sed laudantium voluptate saepe aliquam reprehenderit cumque
		asperiores perspiciatis molestias, maxime, consequuntur fugiat sit esse
		corporis adipisci aspernatur accusantium. Lorem ipsum dolor sit amet
		consectetur adipisicing elit. Autem dolor inventore sed laudantium
		voluptate saepe aliquam reprehenderit cumque asperiores perspiciatis
		molestias, maxime, consequuntur fugiat sit esse corporis adipisci
		aspernatur accusantium. Lorem ipsum dolor sit amet consectetur
		adipisicing elit. Earum error atque tempore esse beatae. Corporis
		voluptates totam tempora ut aliquid mollitia magni explicabo
		necessitatibus, in vel placeat? A, consequuntur dolor? Rerum vel, veniam
		alias nisi ratione tempore a ducimus ut obcaecati dolor. Nihil nesciunt
		explicabo, earum quasi suscipit similique iste rem ad corrupti sit
		aspernatur doloremque. Temporibus earum rerum eos? Dolor corrupti modi
		magni pariatur velit debitis itaque id deleniti reiciendis eaque
		excepturi ipsum, cumque consequatur quasi nihil tenetur iste fugit!
		Dolor corporis consectetur debitis cumque error deserunt velit facilis.
		Consequuntur doloremque laudantium ab placeat architecto cumque corrupti
		aliquid provident dolorem, sapiente alias nulla nesciunt minima
		laboriosam porro, voluptatibus laborum? Nulla, deleniti possimus aliquid
		molestiae impedit debitis? Iste, et error! Numquam minus ex voluptatem
		fugiat. Maiores sunt fugiat, sint eveniet numquam eum laudantium. Natus
		quisquam numquam pariatur dolor unde explicabo ad voluptatem debitis,
		consequatur, enim officia sed tempore vel quia! Illo quibusdam vero
		accusamus architecto voluptas odit nesciunt magnam, officia cupiditate
		impedit mollitia atque illum, natus quasi dolores quod laboriosam fugiat
		neque soluta et. Unde, tempore! Deserunt iusto voluptatum excepturi.
		Reprehenderit laborum ea nemo nostrum repudiandae doloribus cumque
		voluptatem modi et quasi laboriosam harum nesciunt consequuntur illum
		laudantium odio commodi sequi sit, minus suscipit dolorem sint nisi?
		Atque, ut reiciendis. Iste laboriosam laudantium corporis reprehenderit,
		sit quidem voluptatum eveniet culpa quaerat, repellendus, unde obcaecati
		eius. Ex quibusdam optio mollitia aut corporis, sed commodi omnis
		aliquid. Nostrum nobis molestiae praesentium eum. Laboriosam facere
		exercitationem asperiores ut repellendus esse, officiis soluta unde
		harum aperiam, vel sed beatae numquam. Non harum itaque quis ea
		doloremque asperiores aliquam, perspiciatis quibusdam eos suscipit id
		ducimus! Odit, minus similique repudiandae nostrum consectetur
		voluptatum. Aut aperiam, molestiae laboriosam numquam eveniet
		praesentium velit excepturi. Similique vitae architecto facere
		voluptatibus nesciunt, voluptates laboriosam minima recusandae est optio
		in tempora. Labore voluptate quibusdam laboriosam cum,
	</p>
</div>

{% endblock Base_Content %}
