{% extends 'Core_App/Core_Base.html' %} {% block core_content %}

<div class="container">
	<h1>This is the home page ... inside</h1>
	<p style="text-align: justify">
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem dolor
		inventore sed laudantium voluptate saepe aliquam reprehenderit cumque
		asperiores perspiciatis molestias, maxime, consequuntur fugiat sit esse
		corporis adipisci aspernatur accusantium. Lorem ipsum dolor sit amet
		consectetur adipisicing elit. Autem dolor inventore sed laudantium
		voluptate saepe aliquam reprehenderit cumque asperiores perspiciatis
		molestias, maxime, consequuntur fugiat sit esse corporis adipisci
		aspernatur accusantium. Lorem ipsum dolor sit amet consectetur
		adipisicing elit. Autem dolor inventore sed laudantium voluptate saepe
		aliquam reprehenderit cumque asperiores perspiciatis molestias, maxime,
		consequuntur fugiat sit esse corporis adipisci aspernatur accusantium.
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem dolor
		inventore sed laudantium voluptate saepe aliquam reprehenderit cumque
		asperiores perspiciatis molestias, maxime, consequuntur fugiat sit esse
		corporis adipisci aspernatur accusantium. Lorem ipsum dolor sit amet
		consectetur adipisicing elit. Autem dolor inventore sed laudantium
		voluptate saepe aliquam reprehenderit cumque asperiores perspiciatis
		molestias, maxime, consequuntur fugiat sit esse corporis adipisci
		aspernatur accusantium. Lorem ipsum dolor sit amet consectetur
		adipisicing elit. Autem dolor inventore sed laudantium voluptate saepe
		aliquam reprehenderit cumque asperiores perspiciatis molestias, maxime,
		consequuntur fugiat sit esse corporis adipisci aspernatur accusantium.
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem dolor
		inventore sed laudantium voluptate saepe aliquam reprehenderit cumque
		asperiores perspiciatis molestias, maxime, consequuntur fugiat sit esse
		corporis adipisci aspernatur accusantium.
	</p>
</div>

{% endblock core_content %}
