<nav
	class="navbar navbar-expand-sm navbar-light"
	style="background-color: #e3f2fd"
>
	<div class="container">
		<a class="navbar-brand" href="#">1Link Title</a>

		<!-- use for toggling for mobile devices -->
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarNavAltMarkup"
			aria-controls="navbarNavAltMarkup"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<!-- Solution left right is :- me-auto mb-lg-0 -->

			<!-- Left side Nav-Link -->
			<div class="navbar-nav me-auto mb-lg-0">
				<a class="nav-link active" aria-current="page" href="#">Home</a>
				<a class="nav-link" href="#">About</a>
			</div>

			<!-- Right side Nav-Link -->
			<div class="navbar-nav">
				<a class="nav-link" href="#">Login</a>
				<a class="nav-link" href="#">Register</a>
			</div>
		</div>
	</div>
</nav>
