<nav
	class="navbar navbar-expand-sm navbar-light sticky-top"
	style="background-color: #e3f2fd"
>
	<div class="container">
		<a class="navbar-brand" href="{% url 'Home-Page' %}">1Link</a>

		<!-- use for toggling for mobile devices -->
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarNavAltMarkup"
			aria-controls="navbarNavAltMarkup"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<!-- Solution left right is :- me-auto mb-lg-0 -->

			<!-- Left side Nav-Link -->
			<div class="navbar-nav me-auto mb-lg-0">
				<a
					class="nav-link active"
					aria-current="page"
					href="{% url 'Home-Page' %}"
				>
					Home
				</a>
				<a class="nav-link" href="#">About</a>
			</div>

			<!-- Right side Nav-Link -->
			<div class="navbar-nav">
				<a class="nav-link" href="/admin/">Admin</a>

				{% if user.is_authenticated %}

				<a
					class="nav-link"
					href="{% url 'Registration_App:Logout-Page' %}"
					>Logout</a
				>
				<a class="nav-link" href="#">Dashboard</a>

				{% else %}

				<a
					class="nav-link"
					href="{% url 'Registration_App:Login-Page' %}"
					>Login</a
				>
				<a
					class="nav-link"
					href="{% url 'Registration_App:Register-Page' %}"
					>Register</a
				>

				{% endif %}
			</div>
		</div>
	</div>
</nav>
