{% extends 'Core_App/Core_Base_Template.html' %}

<!-- Title -->
{% block title %}
<title>Password Reset Sent - 1Link</title>
{% endblock title %}

<!-- Base_Content -->
{% block Core_Content %}

<div class="container mb-5 mt-3">
	<h2 class="font-weight-bold">Password Reset Sent</h2>
	<hr />
	<p>
		We've emailed you instructions for setting your password, if an account
		exists with the email you entered. You should receive them shortly.<br />If
		you don't receive an email, please make sure you've entered the address
		you registered with, and check your spam folder.
	</p>
</div>

{% endblock Core_Content %}
