{% extends 'Core_App/Core_Base_Template.html' %}

<!-- loading something -->
{% load crispy_forms_tags %} {% load static %}

<!-- Title -->
{% block title %}
<title>Delete Link - 1Link</title>
{% endblock title %}

<!-- Base_Content -->
{% block Core_Content %}

<div class="container my-3 mb-5">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb fs-4">
			<li class="breadcrumb-item">
				<a href="{% url 'Slices_App:Slices-List-Page' %}">slices</a>
			</li>
			<li class="breadcrumb-item">
				<a
					href="{% url 'Slices_App:Slice-Detail-Page' SliceName_From_URL=current_Slice_Name %}"
					target="_blank"
				>
					{{ current_Slice_Name }}
				</a>
			</li>
			<li class="breadcrumb-item">
				<a
					href="{% url 'Slices_App:Links_App:Links-List-Page' SliceName_From_URL=current_Slice_Name  %}"
					class=""
				>
					links
				</a>
			</li>
			<li class="breadcrumb-item">
				<a href="{{ Links_Object.link_url }}" target="_blank">
					{{ current_Link_Id }}
				</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">delete</li>
		</ol>
	</nav>
	<div class="content-section">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Delete Link</legend>
				<h3>
					Are you sure you want to delete this Link with
					<br />
					Name: <strong>"{{Links_Object.display_Name}}"</strong>
					& id: {{ current_Link_Id }}
				</h3>
				<br />
				<ul>
					<li>
						This will delete all the data associated to the link
					</li>
					<li>No one can access this Links now</li>
					<li>
						Once the Link is deleted all the data related to this
						Link is deleted
					</li>
				</ul>
				{% comment %}
				<p>
					TODO: if you want to hide any slice and links you can do it
					in the settings
				</p>
				{% endcomment %}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-danger" type="submit">
					Yes, Delete
				</button>
				&nbsp;
				<a
					class="btn btn-success"
					href="{% url 'Core_App:Main-Home-Page'  %}"
				>
					Cancel
				</a>
			</div>
		</form>
	</div>
</div>

{% endblock Core_Content %}
