{% extends 'Core_App/Base_Template.html' %} {% load static %}
<!-- head block -->
{% block Base_Head %}

<!-- icon = user profile image -->
<link
	rel="shortcut icon"
	href="{{ Slice_Object.author.profile_Picture }}"
	type="image/x-icon"
	alt="{{ Slice_Object.author.profile_Picture }} icon profile picture"
/>

{% endblock Base_Head %}

<!-- content block -->
{% block Base_Content %}
<div class="container">
	<div class="text-center slices-detail-wrapper">
		<div class="p-2">
			<a
				href="{% url 'Display_App:Users-Detail-Page' UserName_From_URL=Slice_Object.author.username %}"
				target="_blank"
			>
				<img
					src="{{ Slice_Object.author.profile_Picture }}"
					alt="{{ Slice_Object.author.profile_Picture }} profile picture"
					class="img-fluid rounded-circle"
					style="height: 100px"
				/>
			</a>
			<h4>@{{ Slice_Object.author.username }}</h4>
		</div>
	</div>

	<div class="link-wrapper">
		{% for Links_Object in Links_List_Object %}
		<a
			href="{{ Links_Object.link_url }}"
			target="_blank"
			class="text-decoration-none"
		>
			<div class="d-grid m-2">
				<div class="link-head btn btn-outline-primary btn-lg">
					{{ Links_Object.display_Name }}
				</div>
			</div>
		</a>

		{% empty %}
		<div class="no-links fs-2 text-center">No Links are added YET</div>
		{% endfor %}
	</div>

	<br /><br />
</div>

{% endblock Base_Content %}
