{% extends 'Core_App/Core_Base_Template.html' %}

<!-- loading something -->
{% load crispy_forms_tags %} {% load static %}

<!-- Title -->
{% block title %}
<title>Delete Account - 1Link</title>
{% endblock title %}

<!-- Base_Content -->
{% block Core_Content %}

<div class="container mb-5 mt-3">
	<div class="content-section">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-2">Delete User</legend>
				<h2>
					Are you sure you want to delete the Account
					<b>@{{object.username}}</b>
				</h2>
				<ul>
					<li>
						This will delete all the data associated to the user
					</li>
					<li>
						Including all the Slices and Links associated with It
					</li>
					<li>No one can access that slices and Links now</li>
					<li>Once the User is deleted all the data is deleted</li>
					<li>
						If you want to hide any slice and links you can do it in
						the slices and links update option
					</li>
				</ul>
			</fieldset>
			<div class="form-group">
				<button class="btn btn-danger" type="submit">
					Yes, Delete
				</button>
				&nbsp;
				<a
					class="btn btn-success"
					href="{% url 'UsersProfile_App:Update-Page' %}"
				>
					Cancel
				</a>
			</div>
		</form>
	</div>
</div>

{% endblock Core_Content %}
