{% extends 'Core_App/Core_Base_Template.html' %}

<!-- loading something -->
{% load crispy_forms_tags %} {% load static %}

<!-- Base_Content -->
{% block Core_Content %}

<div class="container">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb fs-4">
			<li class="breadcrumb-item">
				<a href="{% url 'Slices_App:Slices-List-Page' %}">slices</a>
			</li>
			<li class="breadcrumb-item">
				<a
					href="{% url 'Slices_App:Slice-Detail-Page' SliceName_From_URL=current_Slice_Name %}"
					target="_blank"
					>{{ current_Slice_Name }}</a
				>
			</li>
			<li class="breadcrumb-item">
				<a
					href="{% url 'Slices_App:Links_App:Links-List-Page' SliceName_From_URL=current_Slice_Name  %}"
					class=""
					>links</a
				>
			</li>
			<li class="breadcrumb-item active" aria-current="page">new</li>
		</ol>
	</nav>

	<div class="content-section">
		{{ form.non_field_errors}}
		<form method="post" novalidate>
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Create New Link</legend>
				{{ form|crispy }}
				<div class="mt-4">
					<input
						type="submit"
						value="Create"
						class="btn btn-success"
						name="create_new_link"
					/>
					&nbsp;
					<input
						type="submit"
						value="Create and add another"
						class="btn btn-success"
						name="create_and_add_another_new_link"
					/>
				</div>
			</fieldset>
		</form>
	</div>
	<br /><br />
</div>

{% endblock Core_Content %}
