{% extends 'Core_App/Core_Base_Template.html' %}

<!-- loading something -->
{% load crispy_forms_tags %} {% load static %}

<!-- Base_Content -->
{% block Core_Content %}

<div class="container">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb mx-2 fs-4">
			<li class="breadcrumb-item">
				<a href="{% url 'Slices_App:Slices-List-Page' %}">slices</a>
			</li>
			<li class="breadcrumb-item">
				<a
					href="{% url 'Slices_App:Slice-Detail-Page' SliceName_From_URL=current_Slice_Name %}"
					target="_blank"
					>{{ current_Slice_Name }}</a
				>
			</li>
			<li class="breadcrumb-item active" aria-current="page">links</li>
		</ol>
	</nav>

	<div class="bg-secondary m-2 p-2 rounded row text-light">
		<div class="col p-2 fw-bold text-center">Display Name</div>
		<div class="col p-2 fw-bold text-center">Visibility</div>
		<div class="col p-2 fw-bold text-center">Oprations</div>
	</div>

	{% if Links_List_Object %} {% for Links_Object in Links_List_Object %}

	<div class="bg-light m-2 p-2 rounded row">
		<div class="col p-2 text-center">
			<a
				href="{% url 'Slices_App:Links_App:Links-Detail-Page' SliceName_From_URL=current_Slice_Name LinksID_From_URL=Links_Object.id %}"
				target="_blank"
			>
				{{ Links_Object.display_Name }}
			</a>
		</div>
		<div class="col p-2 text-center">{{ Links_Object.visibility }}</div>
		<div class="col p-2 text-center text-center d-grid gap-1 d-md-block">
			<a
				href="{% url 'Slices_App:Links_App:Links-Update-Page' SliceName_From_URL=current_Slice_Name LinksID_From_URL=Links_Object.id %}"
				class="btn btn-success btn-sm"
			>
				Update
			</a>
			<a
				href="{% url 'Slices_App:Links_App:Links-Delete-Page' SliceName_From_URL=current_Slice_Name LinksID_From_URL=Links_Object.id %}"
				class="btn btn-danger btn-sm"
			>
				Delete
			</a>
		</div>
	</div>

	{% endfor %} {% else %}

	<!-- If no Slices are created-->
	<div class="">
		<p class="bg-light m-3 p-3 rounded">No Links Created Till Now !!!</p>
	</div>

	{% endif %}
	<div class="d-grid">
		<a
			href="{% url 'Slices_App:Links_App:Links-Create-Page' SliceName_From_URL=current_Slice_Name %}"
			class="btn btn-primary m-2 p-2"
		>
			Create New Link
		</a>
	</div>
	<br /><br />
</div>

{% endblock Core_Content %}
