{% extends 'Core_App/Core_Base_Template.html' %}

<!-- loading something -->
{% load crispy_forms_tags %} {% load static %}

<!-- Base_Content -->
{% block Core_Content %}

<div class="container">
	<div class="content-section">
		<form method="post" novalidate>
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">
					Join Today ( Create Account )
				</legend>
				{{ form|crispy }}
			</fieldset>

			<div class="form-group">
				<button class="btn btn-info" type="submit">
					Create New Account
				</button>
				&nbsp;
				<small class="text-muted">
					Already Have An Account?
					<a
						class="ml-2"
						href="{% url 'Registration_App:Login-Page' %}"
						>Login</a
					>
				</small>
			</div>
		</form>
	</div>
</div>

{% endblock Core_Content %}
