{% extends 'Core_App/Core_Base_Template.html' %} {% load crispy_forms_tags %}

<!-- Base_Content -->
{% block Core_Content %}

<div class="container">
	<div class="content-section">
		<h2 class="font-weight-bold mt-3">Reset Password</h2>
		<hr />
		<p>
			Forgotten your password? Enter your email address below, and we'll
			email instructions for setting a new one.
		</p>
		<form method="POST">
			{% csrf_token %} {{ form|crispy }}
			<br />
			<button class="btn btn-outline-primary" type="submit">
				Send Password Reset Email
			</button>
		</form>
	</div>

	{% endblock Core_Content %}
</div>
