{% extends 'Core_App/Core_Base_Template.html' %}

<!-- loading something -->
{% load crispy_forms_tags %} {% load static %}

<!-- Base_Content -->
{% block Core_Content %}

<br />
<div class="container">
	<div class="content-section">
		<form method="post" novalidate>
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Log In</legend>
				{{ form|crispy }}
			</fieldset>
			<br />
			<div class="form-group">
				<button class="btn btn-info" type="submit">Login</button>
				&nbsp;&nbsp;
				<small class="text-muted">
					Not have Account ??
					<a
						class="ml-2"
						href="{% url 'Registration_App:Register-Page' %}"
						>Create Account</a
					>
				</small>
			</div>
		</form>
	</div>
</div>

{% endblock Core_Content %}
