{% extends "rest_framework/base.html" %} {% load i18n %} {% load static %}

<!-- title and meta tag -->
{% block meta %}

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="robots" content="NONE,NOARCHIVE" />
<title>API - 1Link</title>

<!-- Icon logo of the website -->
<link
	rel="shortcut icon"
	href="{% static 'Core_App/Images/First_Logo_Ever.jpg' %}"
	type="image/x-icon"
/>

{% endblock %}

<!-- api navbar name -->
{% block branding %}

<a href="{% url 'API_App:API-Home-Page' %}" class="navbar-brand">1Link API</a>

{% endblock branding %}
