{% extends 'Core_App/Core_Base_Template.html' %}

<!-- loading something -->
{% load crispy_forms_tags %} {% load static %}

<!-- Base_Content -->
{% block Core_Content %}

<div class="container">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb fs-4">
			<li class="breadcrumb-item">
				<a href="{% url 'Slices_App:Slices-List-Page' %}">slices</a>
			</li>
			<li class="breadcrumb-item">
				<a
					href="{% url 'Slices_App:Slice-Detail-Page' SliceName_From_URL=current_Slice_Name %}"
					target="_blank"
					>{{ current_Slice_Name }}</a
				>
			</li>
			<li class="breadcrumb-item active" aria-current="page">update</li>
		</ol>
	</nav>

	<div class="content-section">
		{{ form.non_field_errors}}
		<form method="post" novalidate>
			{% csrf_token %}
			<fieldset class="form-group">
				<legend
					class="
						border-bottom
						mb-3
						bg-secondary
						text-light
						rounded
						p-2
					"
				>
					Update Slice
				</legend>
				{{ form|crispy }}
				<input type="submit" value="Update" class="btn btn-success" />
			</fieldset>
		</form>
	</div>
	<br /><br />
</div>

{% endblock Core_Content %}
