{% extends 'Core_App/Core_Base_Template.html' %}

<!-- loading something -->
{% load crispy_forms_tags %} {% load static %}

<!-- Title -->
{% block title %}
<title>Create Account - 1Link</title>
{% endblock title %}

<!-- Base_Content -->
{% block Core_Content %}

<div class="mb-5 mt-3 container col-11 col-sm-9 col-md-8 col-lg-6">
	<div class="content-section mb-3">
		<form method="post" novalidate>
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Create New Account</legend>
				{{ form|crispy }}
			</fieldset>

			<div class="form-group">
				<button class="btn btn-success" type="submit">
					Create New Account
				</button>
				<hr />
				<small class="text-muted">
					Already Have An Account?
					<a
						class="ml-2"
						href="{% url 'Registration_App:Login-Page' %}"
					>
						Login
					</a>
				</small>
			</div>
		</form>
	</div>
</div>

{% endblock Core_Content %}
