{% extends 'Core_App/Core_Base_Template.html' %}

<!-- loading something -->
{% load crispy_forms_tags %} {% load static %}

<!-- Title -->
{% block title %}
<title>Log In - 1Link</title>
{% endblock title %}

<!-- Base_Content -->
{% block Core_Content %}
<div class="mb-5 mt-3 container col-10 col-sm-7 col-md-5 col-lg-4">
	<div class="content-section mb-3">
		<form method="post" novalidate>
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-3 pb-2">Log In</legend>
				{{ form|crispy }}

				<small>
					<div class="mb-3 form-check">
						<input
							type="checkbox"
							class="form-check-input"
							id="show-password-checkbox"
						/>
						<label
							class="form-check-label text-muted"
							for="show-password-checkbox"
						>
							Show Password
						</label>
					</div>
				</small>
			</fieldset>

			<div class="form-group">
				<button class="btn btn-success" type="submit">Login</button>
				&nbsp;
				<small class="text-muted ml-2">
					<a href="{% url 'Registration_App:password_reset' %}">
						Forgot Password ?
					</a>
				</small>
			</div>
		</form>
		<br />

		<div class="border-top pt-3">
			<small class="text-muted">
				Not have Account ??
				<a
					class="ml-2"
					href="{% url 'Registration_App:Register-Page' %}"
				>
					Create Account
				</a>
			</small>
		</div>
	</div>
</div>

{% endblock Core_Content %} {% block scripts %} {{ block.super }}
<script src="{% static 'Registration_App/js/Login.js' %}"></script>
{% endblock scripts %}
