{% extends 'Core_App/Core_Base_Template.html' %} {% block Core_Content %}
<!--  -->
{% load static %}

<div class="container">
	<div class="row mx-auto">
		<h4 class="col text-center">
			According to Clicks
			<br />
			Top {{ Popular_User_List|length }} Popular Users
			<!--  -->

			out of {{ Total_Number_Of_Users}} Users
		</h4>
	</div>
	<br />

	<div class="row row-cols g-4 justify-content-center text-center">
		{% for Popular_User in Popular_User_List %}

		<div class="col-md-3 col-sm-4 col-5 d-flex">
			<div class="card border border-5 flex-fill">
				<img
					src="{{ Popular_User.profile_Picture }}"
					class="card-img-top"
					alt="@{{ Popular_User.usersname }} profile Picture"
				/>
				<div class="card-body border-top-5 p-0">
					<div class="card-title text-center m-2">
						<a
							href="{% url 'Display_App:Users-Detail-Page' UserName_From_URL=Popular_User.username %}"
							target="_blank"
							class="text-decoration-none stretched-link card-link"
						>
							@{{ Popular_User.username }}
						</a>
					</div>
				</div>
				<div class="card-footer text-muted p-1">
					{{ Popular_User.clicks }}
				</div>
			</div>
		</div>

		{% endfor %}
	</div>
</div>
<br />
<br />
<br />
{% endblock Core_Content %}
