{% extends 'Core_App/Core_Base_Template.html' %} {% block Core_Content %}

<div class="container mb-5">
	<h4 class="d-grid mx-auto text-center">
		According to Clicks
		<br />
		{{ Popular_Slices_List|length }} Popular Slices
		<!--  -->
		out of {{ Total_Number_Of_Slices}} Slices
	</h4>

	<div class="link-wrapper my-4">
		{% for Popular_Slice in Popular_Slices_List %}
		<div class="d-grid col-lg-8 mx-auto">
			<a
				href="{% url 'Display_App:Slice-Detail-Page' UserName_From_URL=Popular_Slice.author.username SliceName_From_URL=Popular_Slice.slice_Name %}"
				target="_blank"
				class="btn btn-lg btn-outline-primary m-1"
			>
				<!-- username -->
				@{{ Popular_Slice.author.username }}
				<!-- slice name -->
				-> {{ Popular_Slice.slice_Name }}
			</a>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock Core_Content %}
