{% extends 'Core_App/Core_Base_Template.html' %} {% block Core_Content %}

<div class="container mb-5">
	<h4 class="d-grid mx-auto text-center">
		According to Clicks
		<br />
		{{ Popular_Slices_List|length }} Popular Slices
		<!--  -->
		out of {{ Total_Number_Of_Slices}} Slices
	</h4>

	<div class="link-wrapper my-4">
		{% for Popular_Slice in Popular_Slices_List %}
		<a
			href="{% url 'Display_App:Slice-Detail-Page' UserName_From_URL=Popular_Slice.author.username SliceName_From_URL=Popular_Slice.slice_Name %}"
			target="_blank"
			class="btn btn-lg btn-outline-primary d-grid col-lg-8 m-2 mx-auto"
		>
			<div class="d-flex justify-content-around">
				<div class="flex-grow-1">
					@{{ Popular_Slice.author.username }}
					<!-- -->
					-> {{ Popular_Slice.slice_Name }}
				</div>
				<div>{{ Popular_Slice.clicks }}</div>
			</div>
		</a>
		{% endfor %}
	</div>
</div>

{% endblock Core_Content %}
