{% extends 'Core_App/Base_Template.html' %} {% load static %}
<!-- head block -->
{% block Base_Head %}

<!-- icon = user profile image -->
<link
	rel="shortcut icon"
	href="{{ Slice_Object.author.profile_Picture }}"
	type="image/x-icon"
	alt="{{ Slice_Object.author.profile_Picture }} icon profile picture"
/>

{% endblock Base_Head %}

<!-- content block -->
{% block Base_Content %}
<div class="container mt-3 mb-5">
	<div id="slices-detail-wrapper" class="text-center p-2">
		<a
			href="{% url 'Display_App:Users-Detail-Page' UserName_From_URL=Slice_Object.author.username %}"
			target="_blank"
		>
			<img
				src="{{ Slice_Object.author.profile_Picture }}"
				alt="{{ Slice_Object.author.profile_Picture }} profile picture"
				class="img-fluid rounded-circle"
				style="height: 100px"
			/>
		</a>
		<h4 class="p-1 m-0">@{{ Slice_Object.author.username }}</h4>
	</div>

	<div class="link-wrapper my-1">
		{% for Links_Object in Links_List_Object %}

		<div class="d-grid col-lg-8 mx-auto">
			<a
				href="{% url 'Display_App:Links-Detail-Page' LinkID_From_URL=Links_Object.id %}"
				target="_blank"
				class="btn btn-lg btn-outline-primary m-1"
			>
				{{ Links_Object.display_Name }}
			</a>
		</div>

		{% empty %}
		<div class="no-links fs-2 text-center">No Links are added YET</div>
		{% endfor %}
	</div>

	<div class="text-center m-3">
		<a
			href="{% url 'Core_App:Home-Page' %}"
			class="text-decoration-none text-body"
		>
			<img
				width="40"
				src="{% static 'Core_App/Images/Logo.jpg' %}"
				class="rounded mb-2"
			/>
			<span class="fs-3">1Link</span>
		</a>
	</div>
</div>

{% endblock Base_Content %}
