{% extends 'Core_App/Base_Template.html' %} {% load static %}

<!-- icons -->
{% block icons %} {{ block.super }}
<link
	rel="shortcut icon"
	href="{{ UsersProfile_Object.profile_Picture }}"
	type="image/x-icon"
	alt="{{ UsersProfile_Object.profile_Picture }} icon profile picture"
/>
{% endblock icons %}

<!-- stylesheets -->
{% block stylesheets %} {{ block.super }}
<link rel="stylesheet" href="{% static 'Display_App/css/users.css' %}" />
{% endblock stylesheets %}

<!-- content block -->
{% block Base_Content %}
<div class="container bg-danger">
	<div id="users_detail_wrapper" class="bg-success">
		<div
			id="users_banner_image"
			class="w-100 mt-1"
			style="background-image: url('{{ UsersProfile_Object.banner_Image }}');"
			alt="Banner Image"
		></div>

		<div
			id="user_profile_picture"
			class="w-25 rounded-circle m-1"
			style="background-image: url('{{ UsersProfile_Object.profile_Picture }}');"
			alt="Profile Picture"
		></div>

		<h3>{{ UsersProfile_Object.display_Name }}</h3>
		<h1>{{ UsersProfile_Object.username }}</h1>
	</div>

	<div class="text-center py-5">
		<a
			href="{% url 'Core_App:Home-Page' %}"
			class="text-decoration-none text-body"
		>
			<img
				width="40"
				src="{% static 'Core_App/Images/Logo.jpg' %}"
				class="rounded mb-2"
			/>
			<span class="fs-3">1Link</span>
		</a>
	</div>
</div>

{% endblock Base_Content %}

<!-- scripts -->
{% block scripts %} {{ block.super }}
<script src="{% static 'Display_App/js/users.js' %}"></script>
{% endblock scripts %}
