{% extends 'Core_App/Base_Template.html' %} {% load static %}

<!-- Title -->
{% block title %}
<title>@{{ UsersProfile_Object.username }} - 1Link</title>
{% endblock title %}

<!-- icons -->
{% block icons %} {{ block.super }}
<link
	rel="shortcut icon"
	href="{{ UsersProfile_Object.profile_Picture }}"
	type="image/x-icon"
	alt="{{ UsersProfile_Object.profile_Picture }} icon profile picture"
/>
{% endblock icons %}

<!-- stylesheets -->
{% block stylesheets %} {{ block.super }}
<link rel="stylesheet" href="{% static 'Display_App/css/users.css' %}" />
{% endblock stylesheets %}

<!-- content block -->
{% block Base_Content %}
<div class="container mb-5 mt-2 col-lg-8">
	<div id="users-detail-wrapper" class="text-center">
		<div
			id="users_banner_image"
			class="w-100 rounded"
			style="background-image: url('{{ UsersProfile_Object.banner_Image }}');"
			alt="Banner Image"
		></div>

		<div class="d-flex justify-content-center m-1">
			<div
				id="user_profile_picture"
				class="w-25 rounded-circle"
				style="background-image: url('{{ UsersProfile_Object.profile_Picture }}');"
				alt="Profile Picture"
			></div>
		</div>
		<h4>@{{ UsersProfile_Object.username }}</h4>
		<!-- display name -->
		{% with UsersProfile_Object.display_Name as display_Name_Var %}
		<div>
			{% if display_Name_Var %}
			<h4>{{ display_Name_Var }}</h4>
			{% endif %}
		</div>
		{% endwith %}
		<!-- contact email -->
		{% with UsersProfile_Object.contact_Email as contact_Email_Var %}
		<div>
			{% if contact_Email_Var %}
			<h4>{{ contact_Email_Var }}</h4>
			{% endif %}
		</div>
		{% endwith %}
	</div>

	<hr />

	<div id="all-users-slices" class="text-center">
		<h4 class="mb-3">Slices</h4>
		{% for Slices_Object in Slices_List_Object %}

		<div class="d-grid">
			<a
				href="{% url 'Display_App:Slice-Detail-Page' UserName_From_URL=Slices_Object.author.username SliceName_From_URL=Slices_Object.slice_Name %}"
				target="_blank"
				class="btn btn-lg btn-outline-primary m-1"
			>
				{{ Slices_Object.slice_Name }}
			</a>
		</div>

		{% empty %}
		<div class="d-grid alert alert-warning m-1">
			No Slices are added YET
		</div>
		{% endfor %}
	</div>

	<div class="text-center mt-3">
		<a
			href="{% url 'Core_App:Main-Home-Page' %}"
			class="text-decoration-none text-body"
		>
			<img
				width="40"
				src="{% static 'Core_App/Images/Logo.jpg' %}"
				class="rounded mb-2"
			/>
			<span class="fs-3">1Link</span>
		</a>
	</div>
</div>

{% endblock Base_Content %}

<!-- scripts -->
{% block scripts %} {{ block.super }}
<script src="{% static 'Display_App/js/users.js' %}"></script>
{% endblock scripts %}
