{% extends 'Core_App/Core_Base_Template.html' %} {% block Core_Content %}

<div class="container mb-5">
	<h4>Why ?</h4>
	<div class="mb-4">
		1Link is Use to Create One and Only One Link Which will contain All the
		link to be Share
	</div>

	<h4>Journey</h4>
	<div class="mb-4 text-justfy">
		As a Youtuber I use to include all my social Media Links and also saw
		people use to include there with equipments links this makes the
		Description very large and bad So I desided to create this website Where
		Create One and Only One Link and share it any where, with looks very
		Short and easy to uderstand for user as well as creator, also user in
		include it in there social media description and share it anywhere
	</div>

	<h4>Dates</h4>
	<div class="mb-4">
		Idea Came in : 2020 <br />
		Development Started : Jan 2021 <br />
		Deployed : Month Year <br />
	</div>

	<h4>Creator & Developer</h4>
	<div class="card mb-4" style="width: 15rem">
		<img
			src="https://avatars.githubusercontent.com/u/69628500?v=4"
			class="card-img-top img-fluid"
		/>
		<a
			class="card-body text-center text-decoration-none stretched-link"
			href="https://twitter.com/withrvr"
			target="_blank"
			>@withrvr</a
		>
	</div>

	<h4 class="mb-5">
		Contact : <span class="text-primary">contactwithrvr@gmail.com</span>
	</h4>
</div>

{% endblock Core_Content %}
