<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!-- Title -->
		{% block title %}
		<title>1Link</title>
		{% endblock title %}

		<!-- stylesheets -->
		{% block stylesheets %}
		<link
			rel="stylesheet"
			href="{% static 'Core_App/css/bootstrap.min.css' %}"
		/>
		{% endblock stylesheets %}

		<!-- icons -->
		{% block icons %}
		<link
			rel="shortcut icon"
			href="{% static 'Core_App/Images/Logo.jpg' %}"
			type="image/x-icon"
		/>
		{% endblock icons %}
	</head>
	<body>
		<!-- Base_Content -->
		{% block Base_Content %} {% endblock Base_Content %}

		<!-- scripts -->
		{% block scripts %}
		<script src="{% static 'Core_App/js/bootstrap.bundle.min.js' %}"></script>
		<script src="{% static 'Core_App/js/jquery.min.js' %}"></script>
		{% endblock scripts %}
	</body>
</html>
