{% extends 'Core_App/Core_Base_Template.html' %} {% block Core_Content %}

<!-- Title -->
{% block title %}
<title>Home - 1Link</title>
{% endblock title %}

<div class="container">
	<h1>This is the home page</h1>

	<p style="text-align: justify">
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem dolor
		inventore sed laudantium voluptate saepe aliquam reprehenderit cumque
		asperiores perspiciatis molestias, maxime, consequuntur fugiat sit esse
		corporis adipisci aspernatur accusantium. Lorem ipsum dolor sit amet
		consectetur adipisicing elit. Autem dolor inventore sed laudantium
		voluptate saepe aliquam reprehenderit cumque asperiores perspiciatis
		molestias, maxime, consequuntur fugiat sit esse corporis adipisci
		aspernatur accusantium. Lorem ipsum dolor sit amet consectetur
		adipisicing elit. Autem dolor inventore sed laudantium voluptate saepe
		aliquam reprehenderit cumque asperiores perspiciatis molestias, maxime,
		consequuntur fugiat sit esse corporis adipisci aspernatur accusantium.
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem dolor
		inventore sed laudantium voluptate saepe aliquam reprehenderit cumque
		asperiores perspiciatis molestias, maxime, consequuntur fugiat sit esse
		corporis adipisci aspernatur accusantium. Lorem ipsum dolor sit amet
		consectetur adipisicing elit. Autem dolor inventore sed laudantium
		voluptate saepe aliquam reprehenderit cumque asperiores perspiciatis
		molestias, maxime, consequuntur fugiat sit esse corporis adipisci
		aspernatur accusantium. Lorem ipsum dolor sit amet consectetur
		adipisicing elit. Autem dolor inventore sed laudantium voluptate saepe
		aliquam reprehenderit cumque asperiores perspiciatis molestias, maxime,
		consequuntur fugiat sit esse corporis adipisci aspernatur accusantium.
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem dolor
		inventore sed laudantium voluptate saepe aliquam reprehenderit cumque
		asperiores perspiciatis molestias, maxime, consequuntur fugiat sit esse
		corporis adipisci aspernatur accusantium. Lorem ipsum dolor sit amet
		consectetur adipisicing elit. Earum error atque tempore esse beatae.
		Corporis voluptates totam tempora ut aliquid mollitia magni explicabo
		necessitatibus, in vel placeat? A, consequuntur dolor? Rerum vel, veniam
		alias nisi ratione tempore a ducimus ut obcaecati dolor. Nihil nesciunt
		explicabo, earum quasi suscipit similique iste rem ad corrupti sit
		aspernatur doloremque. Temporibus earum rerum eos? Dolor corrupti modi
		magni pariatur velit debitis itaque id deleniti reiciendis eaque
		excepturi ipsum, cumque consequatur quasi nihil tenetur iste fugit!
		Dolor corporis consectetur debitis cumque error deserunt velit facilis.
	</p>
</div>

{% endblock Core_Content %}
