{% load static %}
<nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
	<div class="container">
		<a class="navbar-brand" href="{% url 'Core_App:Home-Page' %}">
			<img
				src="{% static 'Core_App/Images/Logo.jpg' %}"
				style="border-radius: 20%; height: 40px"
				class="img-fluid"
			/>
			<!--
			<img
				src="{% static 'Core_App/Images/Logo_Version_1/Blink_8_Sec.gif' %}"
				id="Navbar-Logo"
			/>
			-->
		</a>
		<a href="{% url 'Core_App:Home-Page' %}" class="navbar-brand fs-3"
			>1Link</a
		>

		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarNavAltMarkup"
			aria-controls="navbarNavAltMarkup"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<!-- Solution left right is :- me-auto mb-lg-0 -->

			<!-- Left side Nav-Link -->
			<div class="navbar-nav me-auto mb-lg-0">
				<a class="nav-link" href="{% url 'Core_App:About-Page' %}"
					>About</a
				>
			</div>

			<!-- Right side Nav-Link -->
			<div class="navbar-nav">
				<!-- Random users and slices dropdown -->
				<div class="nav-item dropdown">
					<a
						class="nav-link dropdown-toggle"
						href="#"
						id="random-users-slices-dropdown"
						role="button"
						data-bs-toggle="dropdown"
						aria-expanded="false"
					>
						Random
					</a>
					<div
						class="dropdown-menu dropdown-menu-end"
						aria-labelledby="random-users-slices-dropdown"
					>
						<a
							class="dropdown-item"
							href="{% url 'Core_App:Random-Users-Page' %}"
						>
							Users
						</a>
						<a
							class="dropdown-item"
							href="{% url 'Core_App:Random-Slices-Page' %}"
						>
							Slices
						</a>
					</div>
				</div>

				<!-- popular users and slices dropdown -->
				<div class="nav-item dropdown">
					<a
						class="nav-link dropdown-toggle"
						href="#"
						id="popular-users-slices-dropdown"
						role="button"
						data-bs-toggle="dropdown"
						aria-expanded="false"
					>
						Popular
					</a>
					<div
						class="dropdown-menu"
						aria-labelledby="popular-users-slices-dropdown"
					>
						<a
							class="dropdown-item"
							href="{% url 'Core_App:Popular-Users-Page' %}"
						>
							Users
						</a>
						<a
							class="dropdown-item"
							href="{% url 'Core_App:Popular-Slices-Page' %}"
						>
							Slices
						</a>
					</div>
				</div>

				{% if user.is_authenticated %}

				<a
					class="nav-link"
					aria-current="page"
					href="{% url 'Slices_App:Slices-List-Page' %}"
				>
					Slices
				</a>

				<!-- Settings dropdown started -->
				<div class="nav-item dropdown">
					<a
						class="nav-link dropdown-toggle"
						href="#"
						id="users-settings-dropdown"
						role="button"
						data-bs-toggle="dropdown"
						aria-expanded="false"
					>
						<img
							src="{{ user.profile_Picture }}"
							alt="settings"
							class="img-fluid rounded-circle"
							style="height: 25px"
						/>
					</a>
					<div
						class="dropdown-menu dropdown-menu-end"
						aria-labelledby="users-settings-dropdown"
					>
						<a
							class="dropdown-item"
							href="{% url 'Display_App:Users-Detail-Page' UserName_From_URL=user.username%}"
							target="_blank"
						>
							View Profile
						</a>
						<a
							class="dropdown-item"
							href="{% url 'Registration_App:password_reset' %}"
						>
							Forgot Password
						</a>

						<hr class="dropdown-divider" />
						<a
							class="dropdown-item"
							href="{% url 'UsersProfile_App:Update-Page' %}"
						>
							Update Account
						</a>
						<a
							class="dropdown-item"
							href="{% url 'UsersProfile_App:Delete-Page' %}"
						>
							Delete Account
						</a>

						<hr class="dropdown-divider" />
						{% if user.is_superuser %}
						<a
							class="dropdown-item"
							target="_blank"
							href="{% url 'admin:index' %}"
						>
							Admin
						</a>
						{% endif %}
						<a
							class="dropdown-item"
							target="_blank"
							href="{% url 'API_App:API-Home-Page' %}"
						>
							API
						</a>

						<hr class="dropdown-divider" />
						<a
							class="dropdown-item"
							href="{% url 'Registration_App:Logout-Page' %}"
						>
							Logout
						</a>
					</div>
				</div>
				<!-- Settings dropdown started -->

				{% else %}

				<a
					class="nav-link"
					href="{% url 'Registration_App:Login-Page' %}"
				>
					Login
				</a>

				{% endif %}
			</div>
		</div>
	</div>
</nav>
